{
  "trailingComma": "none",
  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": false,
  "semi": true,
  "vueIndentScriptAndStyle": false,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "strict",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "embeddedLanguageFormatting": "auto"
}
